.home-main {
  height: 1200px;
  width: 100%;
  background-color: var(--root-color);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex: 1 1 25%;
}
