:root {
    --primary-color: #3498db; /* Blue */
    --secondary-color: #2ecc71; /* Green */
    --accent-color: #e74c3c; /* Red */
    --background-color: #ecf0f1; /* Light Gray */
    --text-color: #ffffff; /* Dark Gray */
    --border-color: #bdc3c7; /* Light Border Gray */
    --highlight-color: #f39c12; /* Yellow */
    --root-color: #e0e4e6;
  }